/* base colors for Light theme (default) */
:root {
  --bg-color: #f0f2f5; /* background */
  --calc-bg: #ffffff; /* calculator background */
  --text-color: #333333; /* text color */
  --btn-bg: #e4e6eb; /* background of buttons */
  --btn-active: #d8dadf; /* background of buttons by clicking */
  --accent-color: #ff9f0a; /* Buttons accent */
  --transition-speed: 0.3s; /* transition speed */
}

/* Dark theme colors */
.dark-theme {
  --bg-color: #18191a;
  --calc-bg: #242526;
  --text-color: #f5f6f7;
  --btn-bg: #3a3b3c;
  --btn-active: #4e4f50;
  --accent-color: #ff453a;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color var(--transition-speed),
    color var(--transition-speed);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  gap: 5px;
  background-color: var(--calc-bg);
  transition: background-color var(--transition-speed);
  border: 2px solid var(--text-color);
  padding: 5px;
  box-sizing: border-box;
}

#screen {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid var(--text-color);
  padding: 10px;
}

.btn {
  background-color: var(--btn-bg);
  color: var(--text-color);
  transition:
    background-color var(--transition-speed),
    color var(--transition-speed);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:active {
  background-color: var(--btn-active);
}

.btn.accent {
  background-color: var(--accent-color);
  color: white;
}

header {
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header #theme-toggle {
  margin: 5px 0px;
}
